.navigation-container {width: 100%; position: fixed; bottom: 0;}

.navigation-container li {
	float: left;
	width: 33.3%;
	padding: 15px 0;
	background-color: #EEE;
	text-align: center;
}

.navigation-container.view-carrotList a:last-child li {
	background: #444;
	color: #fff;
} 
.navigation-container.view-task a:first-child li {
	background:#444;
	color: #fff;
}