<template name="carrotList">
	<div class="container">
	  <header>
	      <form class="new-carrot">
	        <input type="text" name="text" placeholder="Type to add new carrot" />
	       	<select class="taskSelect">
	       	 	{{#each pullTaskList}}
	       			{{> taskDropdown}}
	       		{{/each}}
	       	</select>
	      </form>
	  </header>
		<ul>
			{{#each carrots}}
				{{> carrot}}
			{{/each}}
		</ul>
	</div>
</template>

<template name="carrot">
	<li>
		<div>Reward: {{carrot}}</div>
		<div>Tasks to complete: {{task this.tasks}}</div>
	</li>
</template>

<template name="taskDropdown">
<option value="{{_id}}">{{text}}</option>
</template>