<template name="carrotList">
	<div class="container">
	  <header>
	      <form class="new-carrot">
	        <input type="text" name="text" placeholder="Type to add new carrot" />
	        <input type="file" name="image" class="myFileInput">
	       	<div class="taskSelect">
	       	 	{{#each pullTaskList}}
	       			{{> taskDropdown}}
	       		{{/each}}
	       	</div>
	      </form>
	  </header>
		<ul>
			{{#each carrots}}
				{{> carrot}}
			{{/each}}
		</ul>
	</div>
</template>

<template name="carrot">
	<li>
		<div>Reward: {{carrot}}</div>
		<div>Tasks to complete: 
	<ul class="carrotTasks-{{_id}}">
	{{#each tasks}}
		<li>{{text}}</li>
	{{/each}}
	<li></li>
	</ul>
		</div>
	</li>
</template>

<template name="taskDropdown">
<input class="associatedTasks" type="checkbox" value="{{_id}}" id="{{_id}}">
<label for="{{_id}}">{{text}}</label>
</template>