<template name="task">
{{#if currentUser}}
  <div class="container">
    <header>
      <form class="new-task">
        <input type="text" name="text" placeholder="Type to add new tasks" />
      </form>
    </header>
    <ul class="pendingTasks clearfix">
			<h3>pending tasks</h3>
      {{#each tasks}} 
        {{> taskItem}}
      {{/each}}
    </ul>
		<ul class="completedTasks clearfix">
			<h3>completed</h3>
			{{#each completedTasks}}
				{{> taskItem}}
			{{/each}}
		</ul>
		{{> navigation}}
  </div>
  {{/if}}
</template>



<template name="taskItem">
  <li class="taskItem {{#if checked}}checked{{/if}}">
		<input class="toggleComplete" id="option" type="checkbox" value="option" checked="{{checked}}">
  	<label for="option">{{text}}</label>
<!--  	<div class="toggleComplete">This will be a checkbox</div>-->
<!--		<div>{{text}}</div>-->
 		<div><img src="/cfs/files/images/{{carrotImage this._id}}" alt=""></div>
  	<div>{{owner this.owner}}</div>
  </li>
</template>